__pycache__
.idea
model1.npz
model4.npz
model5.npz
model6.npz
model7.npz
model8.npz
abeta.py
abetaCOMMONICTEST.py
abetaonpath_5species.py
abetaonpath.py
amylofit_5_non0ic.csv
amylofit_5.csv
amylofit_5.npz
amylofit.csv
amylofit.npz
data.npz
graph_var_results.ipynb
sim_abeta_10_31.csv
sim_abeta.csv
sim_abeta.npz
Hypergraph
latest_run
lorenz
model_runs
.gitattributes
.gitmodules